.ionide
.fake
obj/
bin/
packages/
paket-files/
node_modules/
release.cmd
release.sh
.paket/load/
deploy
.vs
.idea
yarn-error.log
output/
src/**/*.fs.js*
websharper/**/Scripts/*
websharper/**/Content/*
websharper/**/*.log
